*{
    margin:0;
    padding: 10px;
}


body{
    background-color: #fff;
    text-align:center;
}
h1{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  60px;

}

.container{
    height:80vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.game{
    height: 60vmin;
    width:  60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    ;

}
.box{
    height :18vmin;
    width:18vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    gap: 1.5vmin;
    border-radius: 1rem;
    background-color:rgb(153, 153, 241);
    color: black;
    font-size:8vmin;



}

#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    border-radius: 0.5rem;
    background-color: black;
    color: #fff;
}

#new-btn{
    padding:1rem;
    font-size:1.25rem;
    border-radius: 0.5rem;
    background-color: black;
    color: #fff;
}

#msg{
    color: rgb(2, 2, 46);
    font-size: 40px;
}
.hide{
    display: none;
}